body {
     background-image: url("https://br.pinterest.com/pin-builder/?description=Winter+blue+and+pink+gradient+background+vector++%7C+free+image+by+rawpixel.com+%2F+Ning&guid=DUqz6AqFbo4q-18&media=https%3A%2F%2Fimages.rawpixel.com%2Fimage_social_landscape%2FczNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg&method=button&url=https%3A%2F%2Fwww.rawpixel.com%2Fimage%2F3016312%2Ffree-illustration-vector-gradient-background-colorful");
}

.h1 {
    font-size: 50px;
    font-weight: bold;
}