body {
    background-color: black;
    color: white;
    border-width: initial;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 8px;
    padding: 0px;
    display: block;
    }

h1 {
    font-size: 50px;
    font-weight: bold;
}

.container {
    font-family: sans-serif;
}

.card {
    margin: 100px;
}

.card-button button {
    background: linear-gradient(to right, blue, rgb(87, 87, 241) );
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    border: none;
    padding: 14px 25px;
    font-size: 14px;
    
}

.card-button button:hover {
    transform: scale(1.06);
  }